[*.cs]
indent_style = space
indent_size = 4

###################################################
############ Global StyleCop.Analyzers ############
###################################################

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

###################################################
############### Global NETAnalyzers ###############
###################################################

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none


###################################################
################# Specific files ##################
###################################################

[{Startup.cs, Program.cs}]
# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none